html, body{
    margin: 0;
    padding:10px;
    box-sizing: border-box;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-left: 20px;
}

#username{

    font-weight: bold;
}

.imgCovred{
    width:200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 10px;
    border-radius: 10%;
}